
.fixed-create-post button {
    padding: 10px 20px;
    background-color: #084d96;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 8rem;
    margin: 0 1rem;
}

.fixed-create-post button:hover {
    background-color: #0056b3;
}