.settings-icon {
    margin-left: auto;
    cursor: pointer;
}
.title-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    position: relative;
    background-color: #f9f9f9;
    height: 60px;
}

.title-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
