.side-bar-items {
    height: 85%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* flex-grow: 1; */
    /* justify-content: center; */
    /* overflow: hidden; */
}

.side-bar-title {
    width: 100%;
    height: 3rem;
    border: 1rem 1rem solid black;
    /* flex-shrink: 0; */
    display: flex;
    /* align-items: center; */
    justify-content: center;
    margin-bottom: 2rem 0;
}

.side-bar-title h2{
    color: aliceblue;
    font-size: 2rem;
    font-weight: 900;
    font-family: 'URW Chancery L, cursive';
}

.side-bar-item {
    /* color: aliceblue;
    margin: 2rem 0;
    height: 3rem;
    width: 8rem;
    display: flex;
    justify-content: left;
    border: 0 2rem 2rem solid red;
    border-radius: 3px; */
    color: aliceblue;
    margin: 1rem 0;
    padding: 1rem;
    width: 100%;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.03); 
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
 

#profile-icon {
    bottom: -120px;
    width: 100%;
    padding: 5rem;
    box-sizing: border-box;
    border: 1rem solid black;
}