.shell {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 300px;
    background-color: #084d96;
    padding: 20px;
    height: 100%;
    /* overflow-y: auto; */
    display: flex;
    flex-direction: column;
}

.post-page {
    flex-grow: 1;
    padding: 0px;
    overflow-y: auto;
}
